<h1>Consultar libros</h1>

<table class="table" id="consultandoLibros">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>mostrar una tabla de los libros</td>
            <td></td>
        </tr>
    </tbody>
</table>


<ul><li><a routerLink="/libros/1">Ver Libro</a></li>
    <li><a routerLink="/libros/2">Ver Libro</a></li>
    <li><a routerLink="/libros/3">Ver Libro</a></li>
    <li><a routerLink="/libros/4">Ver Libro</a></li>
    <li><a routerLink="/libros/5">Ver Libro</a></li>
    <li><a routerLink="/libros/6">Ver Libro</a></li>
    <li><a routerLink="/libros/7">Ver Libro</a></li>
</ul>
